<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лабораторна робота 3</title>
    <link rel="stylesheet" href="/src/views/lr3/template.css" >
</head>
<body>
<div id="hexcode_window">
    <p id="hexcode_color">#2345guiy</p>
</div>
<main style="">
 <table id="color_calc">
     <tr>
         <td style="background-color: red">

         </td>
         <td style="background-color: green">

         </td>
         <td style="background-color: blue">

         </td>
     </tr>
     <tr>
         <td style="background-color: black">

         </td>
         <td style="background-color: white">

         </td>
         <td style="background-color: lime">

         </td>
     </tr>
     <tr>
         <td style="background-color: lightblue">

         </td>
         <td style="background-color: gray">

         </td>
         <td style="background-color: magenta">

         </td>
     </tr>
 </table>
<div id="textdocument">
        Варіант 2:
Калькулятор кольору. Відобразити таблицю, фони осередків якої забарвлені в
web-гарантовані кольори. За клацанням лівої кнопки миші на зразку кольору
змінюється колір тексту документа, за клацанням правої кнопки миші — колір фону
документа, також з`являється вікно з шістнадцятковим кодом кольору.
</div>
</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/src/views/lr3/template.js"></script>
</html>