td{
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}
body{
    transition: all .3s cubic-bezier(.55,-0.85,.04,-0.08);
}
#color_calc{
    height: 15rem;
    box-shadow: 0px 0px 15px 8px color-mix(in srgb , #12dfe6 70% , black 30%);
    border-radius: 3rem;
    background-color: yellow;
    padding: .8rem;
}
main{
    display: flex;
    gap: 10rem;
    margin-top:4rem;
    margin-left: 5rem;
}
#textdocument{
    font-family: "Times New Roman";
    font-size: 1.4em;
    width: 25rem;
    height: 15rem;
    transition: all .3s cubic-bezier(.55,-0.85,.04,-0.08);
}
#hexcode_window{
    position: absolute;
    visibility: hidden;
    transition: all .3s cubic-bezier(.55,-0.85,.04,-0.08);
    box-shadow: 0px 0px 15px 8px color-mix(in srgb , #12dfe6 70% , black 30%);
    border-radius: 3rem;
    font-size: 1.2em;
    top:-1000px;
    width: 10rem;
    left: 35%;
    text-align: center;
}

#hexcode_window.show{
    visibility: visible;
    top: 1.5rem;
}