<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лабораторна робота 6</title>
    <style>
        body{
            display: block;
        }
        #window{
            border: 3px solid #d3d3d3;
            position: relative;
            width: 100%;
            height: 400px;
        }
        #box_anim{
            width: 200px;
            height: 40px;
            background-color: lime;
            position: absolute;
            opacity: 0;
            transition: background-color .5s ;
        }
    </style>
</head>
<body>

<div style="width: 100%; display: flex; justify-content: center;">
<button id="run">Почати анімацію</button>
</div>
<div id="window">
    <div id="box_anim">

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    let interval = "ready";
    $(document).ready(function (){
$("#run").on("click",function (){
    if(interval=="ready"){
        interval = "not";
    $("#box_anim").animate({opacity: "1"},250)
        .animate({right: "0px"},"slow")
        .animate({opacity: ".5"},{  complete: function (){
            $(this).css("background-color","#ff0080");
            $(this).animate({left: "0px"},"slow")
            .animate({width: "+=200", height:"+=40"},{
                    done: function(){
                        let seconds = 5
                        $("#run").html("Ресет анимації через:"+seconds+" секунд ");
                        let count = setInterval(function () {
                            seconds--;
                            $("#run").html("Ресет анимації через:"+seconds+" секунд ");
                        },1000)
                        interval = setInterval(function (){
                            $("#box_anim").attr("style","")
                            clearInterval(interval);
                            clearInterval(count);
                            $("#run").html("Почати анімацію");
                            interval ="ready"
                        },seconds*1000) }},"medium")
        }},"slow")
}})})
</script>




</body>
</html>