<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторна робота2_2</title>
    <style>
        .image-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .image-container img {
            width: 100px;
            margin: 0 10px;
        }
    </style>
</head>
<body>

<div class="image-container">
    <img src="/img/lab2/1.png" alt="Image 1">
    <img  src="/img/lab2/2.png" alt="Image 2">
    <img  src="/img/lab2/3.png" alt="Image 3">
    <img  src="/img/lab2/4.png" alt="Image 4">
</div>


<label for="image1">Image 1:</label>
<input type="number" id="image1" min="1" max="4">
<label for="image2">Image 2:</label>
<input type="number" id="image2" min="1" max="4">


<button onclick="swapImages()">Переставити</button>

<script>
    function swapImages() {
        const image1Index = parseInt(document.getElementById('image1').value) - 1;
        const image2Index = parseInt(document.getElementById('image2').value) - 1;

        const images = document.querySelectorAll('.image-container img');

        if (image1Index >= 0 && image1Index < images.length && image2Index >= 0 && image2Index < images.length) {
            // Переставляємо зображення
            const tempSrc = images[image1Index].src;
            images[image1Index].src = images[image2Index].src;
            images[image2Index].src = tempSrc;
        } else {
            alert('Будь ласка, введіть правильні номери зображень.');
        }
    }
</script>

</body>
</html>
