<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Лабораторна робота 5.3</title>
    <style>
    form {
        display: grid;
        gap: 1rem;
        justify-content: center;
        font-size: 1em;
    }
    input{
        font-size: 1em;
    }
    #check{
    }
    button {
        width: 50%;
        margin-left: 20%;
        font-size: 1em;
    }
    p {
        margin-bottom: .3rem;
        margin-top: 0;
    }
    </style>
</head>
<body>
<form>
    <label for="name">
        <input id="name" type="text" placeholder="Ім'я">
    </label>
    <label for="surname">
        <input id="surname" type="text" placeholder="Прізвище">
    </label>
    <label for="patronymic">
        <input id="patronymic" type="text" placeholder="По батькові">

        <label for="patronymic-check" id="check">
            <input id="patronymic-check" type="checkbox">
                Відсутнє
        </label>
    </label>
    <label for="email">
        <input id="email" type="email" placeholder="Електронна Пошта">
    </label>
    <label for="phone">
        <input id="phone" type="tel" placeholder="Номер телефону">
        <label for="add_phone_f" id="add_phone">
            <input id="add_phone_f" type="checkbox">
            Додати ще один телефон
        </label>
    </label>
    <label for="phone2" id="phone2_l" style="display: none">
        <input id="phone2" type="tel" placeholder="Номер телефону">
    </label>
    <label>
        <p>Тип підписки</p>
        <input type="radio" name="sub_type" class="subs"  value="0" checked>
        Безоплатна
        <input type="radio" name="sub_type" class="subs"  value="2.99">
        Basic
        <input type="radio" name="sub_type" class="subs"  value="5.99">
        Premium
    </label>
    <div id="sub_form" style="display: none">
        <p id="amount">
            До сплати:
        </p>
        <p style="color:red; font-size: 0.7em">Форма для сплати прийде після підтверджння реестрації</p>
    </div>
    <button type="button">Реестрація</button>
</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("form")[0].reset();
        $("#patronymic-check").on("click",function () {
            $("#patronymic").css("display",$('#patronymic-check').is(':checked')?"none":"inline-block")
        })
        $("#add_phone_f").on("click",function () {
            $("#phone2_l").css("display",$('#add_phone_f').is(':checked')?"inline-block":"none")
        })
        $(".subs").on("click",function () {
          if($(this).val()!=="0"){
              $("#amount").html("До сплати: "+ $(this).val()+"$");
              $("#sub_form").css("display","inline-block")
          }else{
              $("#sub_form").css("display","none")
          }
        })
    })
</script>
</html>